#atas {
    background-color: red;
    color: white;
    font-size: 50px;
    text-align: center;
}

h1{
    color: black;
}

.isi{
    font-family: arial;
    font-size: 30px;
    color: blue;
}
